<!-- _dir.html.erb -->

<br>
<% @dirs.each do |dir| %>
  <a href="/<%= dir %>" style="color: #156687;"><%= dir %></a><br>
<% end %>

<% @files.each do |file| %>
  <a href="/<%= file %>" style="color: #e04828;"><%= file %></a><br>
<% end %>

