<!-- _file.html.erb -->

<div class="dir-container">
  <table class="table">
	  <thead class="thead-light">
		  <tr>
			  <th>
				  Files
			  </th>
		  </tr>
		  <tr>
			  <td>
				<%= @file_data %>
			  </td>
		  </tr>
	  </thead>
  </table>
</div>
