<!-- _how_to_push.html.erb -->

<div class="push-instruction-container my-5">
  <div class="box-header">
  	<h3>Instructions</h3>
  </div>
  <div class="box-row">
  	<h3>
  		Push an existing repository from the command line
  	</h3>
  	<%= markdown("```\ngit remote add origin #{ENV["GIT_PUSH_INSTRUCT"]+@current_repo_path+".git"}
git push -u origin master\n ```") %>
  </div>
</div>
