<div class="dir-container" >
  <table class="table">
		<thead class="thead-light col-12">
			<tr>
				<th>
					<i class="far fa-file-alt" style="color: rgba(255,255,255,.5)"></i> Readme
				</th>
			</tr>
			<tr>
				<td style="color: #ffffff;">
					<% file_datas.each do |data|%>
						<%= to_markdown(data) %>
					<% end %>
				</td>
			</tr>
		</thead>
  </table>
</div>
