
<div class="this-is-share-repo-navebar public"> 

<div>
  <%= render "shared/repo_navbar"%>
</div>

<div class="container">
  <div class="row">
    <div class="show-content col-8">
    
    </div>
    <div class="btn-copy col-4">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Clone or Download
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <h3>Clone with SSH</h3> 
          <p>Use a password protected SSH key.</p>
          <div class="row">
            <div class="collapse-title col-8">
              <input id="copyLink" class="copyLink" value= "root@128.199.107.166:<%= @repository.user.name %>/<%= @repository.title %>">
            </div>
            <div class="collapse-btn col-4">
              <button class="btn btn btn-primary" data-clipboard-target="#copyLink">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


