<!-- file.html.erb -->
<%= render "show" %>
<div class="dir-container" >
  <table class="table">
	<thead class="thead-light col-12">
	  <tr>
		<th>
		  Files
		</th>
	  </tr>
	  <tr>
		<td>
		  <div class="code-file">
			<%= markdown("```\n"+file_data+"```\n") %>
		  </div>
		</td>
	  </tr>
	</thead>
  </table>
</div>
