<!-- how_to_push.html.erb -->
<div class="instructions">

		<%= render "show"%>
		
		<div class="push-instruction-container">
		  <div class="box-header">
		  	<h3>Instructions</h3>
		  </div>
		  <div class="box-row">
		  	<h4>
		  	  Push an existing repository from the command line. Please make sure you add your SSH key.
		  	</h4>
			  	<%= markdown("```\ngit remote add origin #{ENV["GIT_PUSH_INSTRUCT"]+@current_repo_path+".git"}\ngit push -u origin master\n ``````") %>
		  </div>
		</div>

</div>
