
<div class="diff">
  <div>
    <%= render "shared/repo_navbar"%>
  </div>
  <div>
  	<%= link_to "Create Pull Request", new_repository_pull_request_path(user_name: find_user.name, base_branch: @base_branch, compare_branch: @compare_branch), class: "btn btn-primary" %>
  </div>
  <%= render "diff_content", diff: @diff_files %>
</div>
