<ul class="nav my-3 pr-nav-bar">
  <li class="nav-item m-auto">
    <%= link_to "Conversation", repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request)%>
  </li>
  <li class="nav-item m-auto">
    <%= link_to "Commits", commits_repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request) %>
  </li>
  <li class="nav-item m-auto">
    <%= link_to "Files changed", files_changed_repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request) %>
  </li>
</ul>
