<ul class="nav">
  <li class="nav-item m-auto">
    <%= link_to "Conversation", repository_pull_request_path(@pull_request)%>
  </li>
  <li class="nav-item m-auto">
    <%= link_to "Commits", commits_repository_pull_request_path(@pull_request) %>
  </li>
</ul>