<% if flash[:notice] %>
  <h2>
    <%= flash[:notice] %>
  </h2>
<% end %>

<div class="container-field unlogin homepage">
  <div class="container">
    <div class="row">
      <div class="logo-container col-12 col-md-6 m-auto">
        <img class="index_logo" src="https://images.plurk.com/isj6SfXFY8z5fw31EnnMx.png" alt="">
        <h1>FengChenShowGit</h1>
        <h2>Built for developers XD</h2>
        <p>FengChenShowGit is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 50 million developers.</p>
      </div>
      <div class="p-5 col-12 col-md-6">
        <div class="card bg-light">
        <div class="card-header">註冊</div>
        <div class="card-body">
          <div>
            <%= render 'devise/shared/new'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



