.dir-container {
	margin-top: 55x;
	margin-bottom: 50px;
}
.dir-container .table .thead-light th{
	border: none;
	background-color: #606060;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: #fff;
	font-family: "微軟正黑體";
}

.dir-container .thead-light {
	width: 82vw;
}

.dir-container .highlight .plaintext {
	width: 82vw;
	background-color: #ddd;
	padding: 10px;
}

.dir-container .table {
	margin-top: 70px;
}

.dir-container .table td {
	border-bottom: 1px solid #606060;
	border-left: 1px solid #606060;
	border-right: 1px solid #606060;
	border-color: #606060;
	position: relative;
}

.this-is-share-repo-navebar .container {
	position: relative;
}

.code-file-btn:hover {
	transition: 0.5s;
	color: #fff;
	background-color: rgba(82,230,158,0.1);
}

.this-is-share-repo-navebar .container {
	padding: 0!important;
}

.this-is-share-repo-navebar .git-feature-bar {
	padding: 0;
	border-bottom: solid 1px #606060;
}

.this-is-share-repo-navebar .current-branch {
	font-size: 16px;
  font-family: "微軟正黑體";
  font-weight: bolder;
  color: #52e69e;
  padding: 20px;
}

.this-is-share-repo-navebar .file-btn{
	position: relative;
}

.this-is-share-repo-navebar .down {
	position: absolute;
	width: 100%;

}
.this-is-share-repo-navebar .card-body {
	z-index: 1;
	position: absolute;
	top:60px;
	right: 0;
	background-color: #46484e;
	color: #fff;
}

.this-is-share-repo-navebar .collapse-title {
	padding-left: 0;
}

.this-is-share-repo-navebar .collapse-btn {
	position: absolute;
	bottom: 35px;
	right: 20px;
	height: 30px;
}

.this-is-share-repo-navebar .row {
	z-index: 1;
}

.this-is-share-repo-navebar .other-branch {
	color: #fff;
	padding-left: 20px;
}

.this-is-share-repo-navebar .other-branch a{
	color: #52e69e;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-weight: lighter;
}

td {
	p code {
		background-color: rgba(82, 230, 158, 0.1);
		padding: 0 3px;
		margin: 0 3px;
		color: #ffffff;
	}
	pre {
		background-color: rgba(82, 230, 158, 0.1);
		padding: 10px;
		code {
			color: #ffffff;
		}
	}
}

td ul li a {
	color: #52e69e;
}

td ul li a:hover {
	color: #ffffff;
}