.dir-container {
	margin-top: 40px;
	margin-bottom: 50px;
}
.dir-container .table .thead-light th{
	border: none;
	background-color: #22252a;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.dir-container {
	margin-top: 55px;
}

.dir-container .table td {
	border-bottom: 1px solid #606060;
	border-color: #606060;
	position: relative;
}

.this-is-share-repo-navebar .container {
	position: relative;
}

.code-file-btn {
	font-family: "微軟正黑體";
	/*font-weight: bolder!important;*/
	font-size: 14px;
	color: #292c32;
	height: 40px;
	background-color: #52e69e;
	border: solid 1px #52e69e;
	padding: 8px 15px 8px 15px;
	border-radius: 8px;
	position: absolute;
	right: 0;
	margin-top: 10px;
}

.code-file-btn:hover {
	transition: 0.5s;
	color: #fff;
	background-color: rgba(82,230,158,0.1);
}

.this-is-share-repo-navebar .container {
	padding: 0!important;
}

.this-is-share-repo-navebar .git-feature-bar {
	padding: 0;
	border-bottom: solid 1px #606060;
}

.this-is-share-repo-navebar .current-branch {
	font-size: 16px;
  font-family: "微軟正黑體";
  font-weight: bolder;
  color: #52e69e;
  padding: 20px;
}

.this-is-share-repo-navebar .file-btn{
	position: relative;
}

.this-is-share-repo-navebar .down {
	position: absolute;
	width: 100%;

}
.this-is-share-repo-navebar .card-body {
	position: absolute;
	top:60px;
	right: 0;
	background-color: #46484e;
	color: #fff;
}

.this-is-share-repo-navebar .collapse-title {
	padding-left: 0;
}

.this-is-share-repo-navebar .collapse-btn {
	position: absolute;
	bottom: 35px;
	right: 20px;
	height: 30px;
}

.this-is-share-repo-navebar .row {
	z-index: 99;
}

.this-is-share-repo-navebar .other-branch {
	color: #fff;
	padding-left: 20px;
}

.this-is-share-repo-navebar .other-branch a{
	color: #52e69e;
	text-decoration: none;
}