.commit-list.table {
  margin-bottom: 0rem;
}



.timeline-history.list-group {
  padding-bottom: 0.5rem;
  li {
    .list-item{
      margin-bottom: 0.5rem;
    }
    .list-item.title p{
      margin-bottom: 0rem;
      margin-left: 1rem;
      color: #ffffff ;
      opacity: 0.6;
      font-size: 18px;
    }  
  }
  .list-item.number {
    position: relative;
  }
  .list-item.number p:nth-child(2){
    position: absolute;
    right: 0;
  }
}



ul.timeline-history {
  list-style-type: none;
  position: relative;
}
ul.timeline-history:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 9;
}
ul.timeline-history > li {
  margin: 0;
  padding-left: 4rem;
  
}
ul.timeline-history > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #52e69e ;
  left: 22px;
  width: 16px;
  height: 16px;
  z-index: 400;
}
