.followers .col-12 {
	padding-right: 0;
}
.followers .form-inline {
	padding-right: 0;
	margin: auto;
	position: relative;
}

.followers .repo-search {
	padding-left: 15px;
}

.followers .user-info-container {
	padding-right: 15px;
}