.followers .col-12 {
	padding-right: 0;
}
.followers .form-inline {
	padding-right: 0;
	margin: auto;
	position: relative;
}

/*.followers .repo-search {
	padding-left: 15px;
}*/

.followers .user-info-container {
	padding-right: 15px;
}

.my-followers {
	display: flex;
}

.followers .followers-avatar img {
	height: 60%;
  border-radius: 50%;
}


.followers .project-block {
	display: flex;
	margin-left: 15px;
	margin-top: 30px;
	padding-left: 15!important;
	padding-right: 0!important;
	padding-bottom: 0!important;
  border-bottom: solid 1px #606060 ;
}

.followers .project-block:hover {
	background-color: #292c32;
}

.followers-avatar {
	height: 90px;
	display: inline;
}


.followers .my-following h4 {
	display: inline;
}
