.following .col-12 {
	padding-right: 0;
}

.following .form-inline {
	padding-right: 0;
	margin: auto;
	position: relative;
}

.following .repo-search {
	padding-left: 15px;
}

.following .user-info-container {
	padding-right: 15px;
}