
.following .form-inline {
	padding-right: 0;
	margin: auto;
	position: relative;
}

.following .user-info-container {
/*	padding-right: 15px;*/
}

.following .project-block {
	padding-left: 10!important;
	border-bottom: solid 1px #606060 ;}

.following-avatar {
	height: 120px;
	padding-bottom: 20px;
	padding-top: 20px;
	
}

.following-avatar img {
	margin-right: 20px;
	height: 100%;
  border-radius: 50px;
}

.following .my-following h4 {
	display: inline;
}

.following .my-following{
	padding-right: 0px;
}
