.text-area-container {
  margin-top: 50px;
}
.comment-container {
  .card {
    margin-top: 50px;
  }
}

.btn a {
  color: black;
}
.btn-secondary {
  background-color: #d4d9df;
}


#edit-btn {
  height: 100%;
}


.issue_name_inactive h1 {
  margin-bottom: -0.5rem;
}

.issue_name_active {
  h1{
    margin-bottom: -0.5rem;
  }
  display: none;
}

#issue_update{
  display: none;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid gray;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
