h1,h2,h3,h4,h5,h6,p {
  font-family: "微軟正黑體"; 
}
h4{
  font-weight : 400;
}
h6{
  font-weight : 200;
}
.text-area-container {
  margin-top: 50px;
}
.comment-container {
  .card {
    margin-top: 50px;
  }
}

.btn a {
  color: black;
}
.btn-secondary {
  background-color: #d4d9df;
}


#edit-btn {
  height: 100%;
}

#issue_update{
  display: none;
  background-color: #293232;
  border-color: #52E69E;
  color: #ffffff;
  font-family: "微軟正黑體";
}

.issue_edit{
  background-color: #52E69E;
  color: #293231;
  font-family: "微軟正黑體";
}
.btn-secondary:hover {
  color:#293231;
  border-color:#52E69E;
  background-color: #52E69E;
}

#issue_description_update{
  display: none;
}

#comment_content {
  min-height: 10rem;
  max-height: 10rem;
}


.issue_name_active {
  h1{
    margin-bottom: -0.5rem;
  }
  display: none;
  #issue_name{
    width: 100%;
  }
}

.issue_description_active{
  display: none;
  .issue_description {
    background-color:  #3C3F44;
  }
  textarea {
    width: 100%;
    min-height: 10rem;
  }
}

.issue_name_inactive {
  h1 {
    color: #52E69E;
    margin-bottom: -0.5rem;
  }
}
.area.form-control{
  background-color: #3C3F44;
  color: #ffffff;
}

.area.form-control:focus {
  border-color: #52E69E;
  box-shadow: 0 0 4px rgba(82, 230, 159, 0.502);
}

.developer-comment-cancel-btn{
  display: none;
}

.comment-submit{
  background-color: #52E69E;;
}

.card {
  border: none;
  .card-body {
    background-color:  #3C3F44;
  }
  .media img{
    border-radius: 50%;
  }
  .media-body {
    color: white;
    p {
      margin-bottom: 4px;
    }
  }
  .card-header{
    border-bottom: none;
    background-color: #3C3F44;
    position: relative;
    .comment-more{
      position: absolute;
      right: 10px;
    }
    .bottom-line {  
      height: 1px;
      opacity:0.6;
      background-color:  #ffffff;
      background-image: linear-gradient(to right, #ccc, #ffffff, #ccc);
    }
  }  
}



.issue-comment-name{
  color: #ffffff;
}
.comment-info-container{
  margin-top: 30px;

  .issue-comment-edit{
    justify-content:flex-end;
    padding: 0 14px;
  }
  .update-comment{
    margin-right: 10px;
    .btn{
      background-color: #52E69E;
      color: #292c32;
      font-family: "微軟正黑體";
    }
    .btn-success:active {
      color:#292c32 ;
      border-color:#52E69E;
      background-color: #52E69E;
    } 
  }
  .dropdown-toggle::after {
    color: #ffffff;
    border-top: .5em solid;
    border-top-width: 0.5em;
    border-top-style: solid;
    border-top-color: initial;
    border-right: .4em solid transparent;
    border-right-width: 0.4em;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom: 0;
    border-bottom-width: 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-left: .4em solid transparent;
    border-left-width: 0.4em;
    border-left-style: solid;
    border-left-color: transparent;
  }
}
.issue-comment-btn {
  justify-content: flex-end;
  margin-top: 1rem;
  .comment-submit {
    margin-right: 1rem;
    color:#292c32 ;
  }
  .issue-status-change {
    margin-right: 1rem;
  }
  .issue-status-change:hover {
    background-color:#d4d9df;
    border-color: #d4d9df;
  }
}

.comment-submit:hover {
  color:#292c32 ;
  border-color:#52E69E;
  background-color: #52E69E;
}


ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid gray;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
