.add-new-sshkey .m-0 {
	color: #fff;
}

.add-new-sshkey .form-control {
	width: 35vw;
  border-color: #727579;
}

.add-new-sshkey .btn {
	margin-top: 40px;
}

.add-new-sshkey .the-key {
  width: 50vw;
  height: 200px;
}

