.projet-setting h2 {
	color: #52e69e;
	font-size: 30px;
	font-family: "Arial";
	font-weight: lighter;
}

.projet-setting .settings-title {
	color: #fff;
	font-size: 16px;
	font-family: "微軟正黑體";
	font-weight: lighter;
}