/*可共用*/

body {
	background-color: rgba(41, 44, 50, 1);
  width: 100%;
}

.this-is-share-repo-navebar .repo-navbar { 
	/*background-image: url("../../../pic/issueBK.png"); */
	background-image: url("../../../pic/issueBKbs.jpg");
}

.this-is-settings-navebar .repo-navbar { 
	/*background-image: url("../../../pic/issueBK.png"); */
	background-image: url("../../../pic/issueBKbss.jpg");
}

.public .id-name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #fff;
}
.public .id-name i {
  color: #fff;
  margin-right: 3px;
  color: #573c39;
}
.public .userId {
	display: inline;
	font-weight: bold;
	color: #573c39;
	font-size: 18px;
}

.public .fileName {
	color: #573c39;
}

.public .issue-show .id-name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #494f35;
} 

.public .repo-navbar .nav-link {
	color: #573c39;
}

.public .fileName {
	display: inline;
	color: #24292e;
	font-size: 18px;
}

.public .repo-navbar .nav-link { 
	color: #492b2c;
	border-bottom: none;
}

.public .nav-tabs .nav-link {
	font-weight: normal;
	border: none;
}

.public .nav-tabs .nav-link:hover {
	font-weight: bold;
}

.public .nav-link.active {
	border-bottom: none;
	border-color: #e0d7d2;
}

.public .fas .fa-code {
  color: #777e5d;
}


.public .user-name {
	font-family: "Arial";
	font-size: 20px;
	letter-spacing: 0px;
	color: #fff;
	margin-top: 15px!important;
}

.public .user-id {
	font-family: "Arial";
	font-size: 20px;
	letter-spacing: 0px;
	color: #fff;
	margin-top: 0px!important;
}



/* ===================logged_in開始的小nav bar===================== */
.public .nav {
  font-weight: bold;
}

.public .project-block a:hover {
  text-decoration: none;
}

.public .project-block a {
	font-family: "微軟正黑體";
	font-weight: lighter;
	letter-spacing: 0px;
  font-size: 18px;
  color: #52e69e;
}

.public .project-block div {
  font-size: 12px;
  font-family: "微軟正黑體";
  font-weight: lighter;
  color: #fff;
}

.public .p-3 {
  padding: 0 0 0 1rem!important;
}

.public .mx-3 {
  margin-left: 0!important;
}

.public .nav-link {
	font-family: "微軟正黑體";
  font-weight: lighter;
  letter-spacing: 0px;
  font-size: 12px;
  color: #fff;
}

.public .nav-link:hover {
	transition: 0.5s;
  color: #52e69e;
}

.public .popu {
	margin-top: 25px !important;
	margin-bottom: 0 !important;
  font-size: 20px;
  color: #492b2c;
}

.public .line {
  height: 4px;
  width: 100%;
  position: relative;
}

.public .line .title-bottom-line {
  padding-right: 0;
  height: 2px;
  width: 100%;
  background-color:#999999;
  position: relative;
}

.public .repositories-title {
  padding-right: 0;
}

.public .row {
	margin-left: 0;
}

.public .project-block {
  border-bottom: solid 1px #606060 ;
  width: 100%;
  position: relative;
  padding: 18px!important;
} 

.public .project-block:hover {
	transition: 0.5s;
  background-color: #30333a;
}



/* ===================頭貼===================== */
.avatar-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.this-is-navbar .card .bg-light .col-6 .m-auto .p-0 {
	max-width: 100%;
}


/* ===================Serch 跟按鈕===================== */

.public .repo-btn {
	width: 40px;
	border-radius: 8px;
	color: #76787b;
	background-color: #292c32;
	border: 1px solid #76787b;
	margin: 0!important;
  position: absolute;
  right: 0;
}

.public .repo-btn:hover {
	background-color: rgba(82,230,158,0.1);
	transition: 0.4s;
}

.public .repo-search input {
	height: 38px;
	border-radius: 8px;
	border: 1px solid #76787b;
	background-color: #292c32;
}



.the-bottom {
   border-bottom: solid 2px #52e69e;
}