/*可共用*/
.thisIsShareRepoNaveBar .repo_navbar { 
	/*background-image: url("../../../pic/issueBK.png"); */
	background-image: url("../../../pic/issueBKbs.jpg");
}

.thisIsSettingsNaveBar .repo_navbar { 
	/*background-image: url("../../../pic/issueBK.png"); */
	background-image: url("../../../pic/issueBKbsss.jpg");
}

.public .id_name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #494f35;
}
.public .id_name i {
  color: #aaa;
  margin-right: 3px;
  color: #573c39;
}
.public .userId {
	display: inline;
	font-weight: bold;
	color: #573c39;
	font-size: 18px;
}

.public .fileName {
	color: #573c39;
}

.public .issue-show .id_name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #494f35;
} 

.public .repo_navbar .nav-link {
	color: #573c39;
	text-shadow:
}

.public .fileName {
	display: inline;
	color: #24292e;
	font-size: 18px;
}

.public .repo_navbar .nav-link { 
	color: #492b2c;
	border-bottom: none;
}

.public .nav-tabs .nav-link {
	font-weight: normal;
	border: none;
}

.public .nav-tabs .nav-link:hover {
	font-weight: bold;
}

.public .nav-link.active {
	border-bottom: none;
	border-color: #e0d7d2;
}

.public .fas .fa-code {
  color: #777e5d;
}


.public .user_name {
	margin-top: 15px!important;
	font-family: "Arial";
}

.public .user_id {
	color: #6c6f6c;
	font-family: "Arial";
	font-size: 20px;
	margin-top: -8px!important;
}




/* ===================頭貼===================== */
.avatar-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}



.thisIsNavBar .card .bg-light .col-6 .m-auto .p-0 {
	max-width: 100%;
}