.pull-request .btn {
	background-color: #52e69e;
	border: 1px solid #52e69e;
	color: #292c32;
	border-radius: 8px;
	padding: 8px;
}

.pull-request .btn:hover {
  transition: 0.4s;
	color: #fff;
	background-color: rgba(82,230,158,0.1);
}

.pull-request .open {
	margin: 0; 
	padding: 15px!important;
	background-color: #606060;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #606060;
}

.pull-request .container {
	border-bottom: 1px solid #606060;
	color: #fff;
}

.pull-request .row {
  padding-left: 0!important;
}

.pull-request .the-tr {
	padding: 12px 12px 0 15px!important;
}

.pull-request .content {
	padding-top: 0;
	padding-left: 15px;
	padding-right: 25px;
}

.pull-request .ago {
	color: #999999;
	font-size: 12px;
	padding: 0;
}

.pull-request .col-12 {
  padding-left: 0!important;
}


.pull-request a {
	text-decoration: none;
	color: #fff;
}

.pull-request .form-control {
	color: #fff;
}
.pull-request .form-control:focus {
	background-color: #292c32;
	color: #fff;
}

.pull-request .id {
	color: #52e69e;
	padding: 0;
}

.pull-request .sele {
	padding: 0;
	margin: 0;
}

.pull-request .issue-show{
	padding-left: 0;
}

.pull-request .text-center {
	font-family: "微軟正黑體";
	color: #fff;
	border-bottom: 1px solid #606060;
}

.pull-request .text-center h3 {
	font-size: 24px;
	font-weight: lighter!important;
}
.pull-request .text-center h4 {
	font-size: 20px;
	font-weight: lighter!important;
}

.pull-request .new-pr {
	height: 38px;
	background-color: #3c3f44;
	border-radius: 8px;
	text-align: center;
	position: absolute;
	right: 0;
	color: #e3e3e4;
	line-height: 3vw;
	padding: 0;
}

.pull-request .new-pr .btn{
	height: 38px;
	padding: 9px 0 0 0;
	position: absolute;
	right: 0;
	letter-spacing: -1px;
}

.pull-request .repo-search {
	margin-top: 50px!important;
}

.pull-request .description-title {
	padding-left: 30px;
}

.branch-diff-title {
	color: #ffffff;
	font-weight: lighter;
}

.pr-nav-bar {
	li {
		a {
			color: #52E69E;
		}
	}
}
