.pull-request .btn {
	background-color: #52e69e;
	border: 1px solid #52e69e;
	color: #292c32;
	border-radius: 8px;
	padding: 8px;
}

.pull-request .btn:hover {
  transition: 0.4s;
	color: #fff;
	background-color: rgba(82,230,158,0.1);
}

.pull-request .open {
	margin: 0; 
	padding: 15px;
	background-color: #22252a;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: none;
}


