h1,h2,h3,h4,h5,h6,p {
  font-family: "微軟正黑體"; 
}
h4{
  font-weight : 400;
}
h6{
  font-weight : 200;
}


.list-group {
  // position: relative;
  padding-bottom: .5rem;
  li {
    .list-item{
      margin-bottom: .5rem;
    }
    .list-item p{
      margin-bottom: 0rem;
      margin-left: 1rem;
      color: #ffffff ;
      opacity: 0.6;
    }  
  }
  .list-item.number {
    position: relative;
  }
  .list-item.number p:nth-child(2){
    position: absolute;
    right: 0;
  }
}

.commit-line{
  height: 1px;
  background-color: #ffffff;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 9;
}
ul.timeline > li {
  margin: 0;
  padding-left: 4rem;
  
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #52e69e ;
  left: 22px;
  width: 16px;
  height: 16px;
  z-index: 400;
}


.pr-message {
  p{
    color: #ffffff;
    margin-bottom: 0;
    line-height: 38px;
    margin-left: 1rem;
  }
  a {
    color: #52e69e;
  }
}

.issue_name_active {
  h1{
    margin-bottom: -0.5rem;
  }
  display: none;
  #pull_request_name{
    width: 100%;
  }
}

.this-is-share-repo-navebar .other-branch { 
  font-size: 1.2rem;
}

.merge-btn {
  padding: 10px;
  background-color: #52e69e;
  color: #3C3F44;
  border-radius: 8px;
}

.merged-btn {
  padding: 10px;
  background-color: #3C3F44;
  border-radius: 8px;
  color: #ffffff ;
}

.close-btn {
  color: #ffffff;
  background-color: #e34c4c;
  padding: 10px;
  border-radius: 8px;
}

.reopen-btn {
  color: #52e69e;
  border: 1px solid #52e69e;
  border-radius: 8px;
  padding: 10px;
}

.reopen-btn:hover {
  color: #52e69e;
}

.conflict-info {
  color: #52e69e;
  padding: 10px;
  span {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 14px;
    color: #ffffff;
    word-wrap: normal;
    white-space: pre;
  }
}

@media (max-width: 768px){ 
  .pr-message.col-sm-12 p{
    font-size: 24px;
    margin-left: 0rem;
  }
}
