/*可共用*/
.repo_navbar {
	background-color: #f9fbef;
	background-image: url("../../../pic/issueBK.png"); 
}
.id_name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #494f35;
	text-shadow:
		-2px -2px 0 #fff,
		 2px -2px 0 #fff,
		-2px  2px 0 #fff,
		 2px  2px 0 #fff,
}
.id_name i {
  color: #aaa;
  margin-right: 3px;
  color: #494f35;
}
.userId {
	display: inline;
	font-weight: lighter;
	color: #494f35;
	font-size: 18px;
}

.thisIsIssuesShow .fileName {
	color: #494f35;
}

.thisIsIssuesShow .repo_navbar .nav-link {
	color: #777e5d;
	text-shadow:
		-2px -2px 0 #fff,
		 2px -2px 0 #fff,
		-2px  2px 0 #fff,
		 2px  2px 0 #fff,
}

.fileName {
	display: inline;
	color: #24292e;
	font-size: 18px;
}

.repo_navbar .nav-link { 
	color: #586069;
	border-bottom: none;
}

.thisIsIssuesShow .nav-link.active {
	border-bottom: none;
	border-color: #e0d7d2;
}

.fas .fa-code {
  color: #777e5d;
}


.thisIsIssuesShow .col-2.mt-2 {
	padding: 0;
}

.thisIsIssuesShow .status-title.col-2 {
	padding: 0 5px 0 7px;
}

.thisIsIssuesShow input {
	background-color: #f9fbef;
}

.thisIsIssuesShow .nav-tabs {
	border-color: #e0d7d2;
}

.thisIsIssuesShow .form-control {
	border: 1px solid #e0d7d2;
	margin: 0;

}

.thisIsIssuesShow .btn {
	background-color: #777e5d;
	border: none;
	color: #fff;
}

.thisIsIssuesShow .btn:hover {
	background-color: #494f35;
}

.thisIsIssuesShow .formInput {
	width: 100%;
	margin: auto;
}

.thisIsIssuesShow .form-inline {
	margin: auto;
	padding: 0 15px 0 0;
}



.thisIsIssuesShow .issue-container {
	border-color: #e0d7d2;
}

.thisIsIssuesShow .row {
	border-color: #e0d7d2;
	margin: 5px 0 0 0; 
}

.thisIsIssuesShow .issue-container .container {
	border-bottom: solid 1px #e0d7d2;
}

.thisIsIssuesShow .open {
	margin: 0; 
	padding: 15px;
	background-color: #ecc471;
	color: #fff;
}

.thisIsIssuesShow .item { 
  padding-top: 10px;
}

.thisIsIssuesShow .item:hover { 
  background-color: #e7f1db;
}

.thisIsIssuesShow .row {
	margin-top: 0;
	padding-top: 10px;
}

.thisIsIssuesShow div.col-2.mt-2 {
	margin-top: 0!important;
}

.thisIsIssuesShow div.col-6.row {
	padding-top: 0;
}

.thisIsIssuesShow .container span{
	color: #494f35;
	font-family: 微軟正黑體;
	font-weight: bold;
}

.thisIsIssuesShow div.col-2.mt-2 i{
	color: #ecc471;
}

.thisIsIssuesShow p.col-12 {
	padding-left: 0px; 
}
.thisIsIssuesShow a.col-12 {
	padding-left: 0px; 
}