.logged-in-my-repo .col-10 {
	padding-left: 0;
}

.logged-in-my-repo .col-10 h4 {
	font-family: "微軟正黑體";
	font-weight: lighter;
	letter-spacing: 0px;
  font-size: 18px;
  color: #52e69e;
}

.logged-in-my-repo .col-10 div {
/*font-size: 12px;
  font-family: "微軟正黑體";
  font-weight: lighter;
  color: #fff;*/
}

.logged-in-my-repo .repositories-repository-wrap {
  margin-right: 0; 
}

.logged-in-my-repo .row {
	margin-left: 0;
}

.logged-in-my-repo .form-inline {
	padding-right: 0;
	margin: auto;
	position: relative;
}

.logged-in-my-repo .ml-5 {
	margin: 0!important;
  position: absolute;
  right: 0;
}

.logged-in-my-repo .repo-search {
	padding-left: 15px;
}

/*====================like====================*/
.star {
	border: solid 1px #52e69e;
	background-color: #292c32;
  height: 30px;
  width: 60px;
  border-radius: 10px;
}

.star:hover {
	transition: 0.4s;
	background-color: rgba(82,230,158,0.1);
}

.star p{
  font-family: "微軟正黑體";
	font-weight: lighter;
	letter-spacing: 0px;
  font-size: 12px;
  color: #fff;
  display: inline;
}
