
.issue-show .repo_navbar { 
	/*background-image: url("../../../pic/issueBK.png"); */
	background-image: url("../../../pic/issueBKbss.jpg");
}

.public .id_name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #494f35;
	text-shadow:
		-2px -2px 0 #fff,
		 2px -2px 0 #fff,
		-2px  2px 0 #fff,
		 2px  2px 0 #fff,
}

.public .repo_navbar .nav-link {
	text-shadow:
		-1px -1px 0 #fff,
		 1px -1px 0 #fff,
		-1px  1px 0 #fff,
		 1px  1px 0 #fff,
}

/*=================== .public ======================*/


.issue-show .col-2.mt-2 {
	padding: 0;
}

.issue-show .status-title.col-2 {
	padding: 0 5px 0 7px;
}

.issue-show input {
	height: 40px;
	border-style: none;
	border: solid 1px #e0d7d2;
	background-color: #ffe5ca;
	border-radius: 8px;
}

.issue-show .my-2 {
	margin-bottom: 0!important;
	margin-top: 0!important;
}

.issue-show .nav-tabs {
	border-color: #e0d7d2;
}

.issue-show .form-control {
	border: 1px solid #e0d7d2;
	margin: 0;

}

.issue-show .btn {
	background-color: #f1be3f;
	border: none;
	color: #fff;
	border-radius: 8px;
	padding: 8px;
}

.issue-show .btn:hover {
	background-color: #ffb794;
}

.issue-show .formInput {
	width: 100%;
	margin: auto;
}

.issue-show .form-inline {
	margin: auto;
	padding: 0 15px 0 0;
}



.issue-show .issue-container {
	border-color: #e0d7d2;
	border: none;
}

.issue-show .issue-container .container {
	border-left: 1px solid #e0d7d2;
	border-right: 1px solid #e0d7d2;
	border-bottom: 1px solid #e0d7d2;
}

.issue-show .row {
	border-color: #e0d7d2;
	margin: 5px 0 0 0; 
	/*border-bottom: solid 1px #e0d7d2;*/
}

.issue-show .open {
	margin: 0; 
	padding: 15px;
	background-color: #ef3e38;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

/*.issue-show .issue-title .row .p-2 .open {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
*/
.issue-show .item { 
  padding-top: 10px;
}

.issue-show .item:hover { 
  background-color: #eefeff;
}

.issue-show .row {
	margin-top: 0;
	padding-top: 10px;
}

.issue-show div.col-2.mt-2 {
	margin-top: 0!important;
}

.issue-show div.col-6.row {
	padding-top: 0;
}

.issue-show .container span{
	color: #573c39;
	font-family: 微軟正黑體;
	font-weight: bold;
}

.issue-show div.col-2.mt-2 i{
	color: #ffcc1e;
}

.issue-show p.col-12 {
	padding-left: 0px; 
}
.issue-show a.col-12 {
	padding-left: 0px; 
}