.issue-show .col-2.mt-2 {
	padding: 0;
}

.issue-show .status-title.col-2 {
	padding: 0 5px 0 7px;
}

.issue-show .col-2.mt-2 {
	color: #fff;
}

.issue-show input {
	height: 40px;
	border-style: none;
	border: solid 1px #76787b;
	background-color: #292c32;
	border-radius: 8px;
	color: #fff;
}

.issue-show .my-2 {
	margin-bottom: 0!important;
	margin-top: 0!important;
}

.issue-show .nav-tabs {
	border-color: #e0d7d2;
}

.issue-show .form-control {
	border: 1px solid #606060;
	margin: 0;

}

.issue-show .btn {
	background-color: #52e69e;
	border: 1px solid #52e69e;
	color: #292c32;
	border-radius: 8px;
	padding: 8px;
}

.issue-show .btn:hover {
  transition: 0.4s;
	color: #fff;
	background-color: rgba(82,230,158,0.1);
}

.issue-show .formInput {
	width: 100%;
	margin: auto;
}

.issue-show .form-inline {
	margin: auto;
	padding: 0 15px 0 0;
}

.issue-show .issue-container {
	border-color: #e0d7d2;
	border: none;
}

.issue-show .issue-container .container {
	border-bottom: 1px solid #606060;
}

.issue-show .row {
	border-color: #606060;
	margin: 5px 0 0 0; 
}

.issue-show .open {
	margin: 0; 
	padding: 15px;
	background-color: #22252a;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.distance {
	padding: 0 10px 0 10px;
}

.issue-show .col-3 {
	color: #fff;
}

.issue-show .description {
	padding-top: 7px;
}

.issue-show .ago {
	font-size: 12px;
}

.issue-show .distance{
	color: #fff;
	text-decoration: none;
}

.issue-show a {
	color: #52e69e;
	text-decoration: none;
}
