.public .id_name {
	padding-top: 30px;
	padding-left: 10px;
	margin: 0 0 40px 0;
	color: #494f35;
	text-shadow:
		-2px -2px 0 #fff,
		 2px -2px 0 #fff,
		-2px  2px 0 #fff,
		 2px  2px 0 #fff,
}

.public .repo-navbar .nav-link {
	text-shadow:
		-1px -1px 0 #fff,
		 1px -1px 0 #fff,
		-1px  1px 0 #fff,
		 1px  1px 0 #fff,
}