.issue-container {
  border: solid 1px #999999;
  border-radius: 3px;
  .container {
    border-bottom: solid 1px #999999;
    div {
      .row {
        p {
          color: #999999;
        }
      }
    }
  }
  .issue-title {
    border-bottom: solid 1px #999999;
    margin: 0px;
  }
}

.unlogin,.container-field,.homepage {
  background-color: #555555;
}