.issue-container {
  border: solid 1px #999999;
  border-radius: 3px;
  .container {
    border-bottom: solid 1px #999999;
    div {
      .row {
        p {
          color: #999999;
        }
      }
    }
  }
  .issue-title {
    border-bottom: solid 1px #999999;
    margin: 0px;
  }
}

#error_explanation {
  h2 {
    color: red;
  }
  ul {
    li {
      color: #f69523;
    }
  }
}

.field_with_errors {
  input {
    border: solid 3px red;
  }
}

.reponew-container {
  max-width: 800px;
  margin: auto;
  .reponew-title-wrap {
    border-bottom: solid 1px #e1e4e8;
    padding: 40px 0 20px 0;
    margin-bottom: 30px;
  }
  .reponew-info-wrap {
    .row {
      .col-2 {
        .btn {
          font-size: 14px;
          min-width: 80px;
        }
      }
    }
    border-bottom: solid 1px #e1e4e8;
    margin: 20px 0;
    div {
      span {
        margin-top: 36px;
        font-size:24px;
        font-weight:bolder;
        display: inline-block;
      }
    }
  }
}

.reponew-ispublic-wrap {
  .row {
    div {
      label {
        font-size: 16px;
        font-weight: bolder;
      }
      p {
        font-size: 14px;
        font-weight: lighter;
      }
    }
    input {
      display: inline-block;
      margin: 28px 0;
    }
    i {
      margin: 18px 10px;
      font-size:36px;
    }
  }
}

.user-index .p-3 h4 {
  line-height: 12px; 
}


.user-index .overview-repository-wrap {
  /*border-bottom: solid 1px #606060 ;
  width: 100%;
  position: relative;
  padding: 18px!important;*/
  div {
    s {
      border: 1px solid #999999;
      border-radius: 5px;
      position: relative;
      top: 14px;
      font-size: 28px;
    }
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


// Kaminari
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

/*===============其他使用者頭像===============*/
.user-index .popu {
  padding-bottom: 20px; 
}

.user-index .other-user-wrap {
  margin: 0;
  padding: 10px;
  border-bottom: dashed 1px #ccc;;
}

.user-index .other-user-information {
  display: flex;
  position: relative;
  margin: auto;
}

.other-user-avatar{
  padding-right: 20px; 
  width: 10vw;
  display: inline;

}

.other-user-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-index .information {
  display: flex;
  margin: auto auto auto 0;
}

.user-index .other-user-information p{
  padding-right: 30px;
  font-size: 16px;
  display:inline;
  font-weight: bold;
  color: #f1be3f;
}

.user-index .other-user-information a{
  text-decoration: none;
  color: #573c39;
}

.user-index .follow {
  position: absolute;
  right: 19px;
}

.user-index .unfollow {
  position: absolute;
  right: 0;
}

