.issue-container {
  border: solid 1px #999999;
  border-radius: 3px;
  .container {
    border-bottom: solid 1px #999999;
    div {
      .row {
        p {
          color: #999999;
        }
      }
    }
  }
  .issue-title {
    border-bottom: solid 1px #999999;
    margin: 0px;
  }
}

#error_explanation {
  h2 {
    color: red;
  }
  ul {
    li {
      color: #f69523;
    }
  }
}

.unlogin,.container-field,.homepage {

}


.field_with_errors {
  input {
    border: solid 3px red;
  }
}